version: '3.1'

services:
  proxy:
    image: traefik:1.4
    command: --web --docker --docker.domain={{dns_alias}} --logLevel=WARN
    networks:
      - webgateway
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev/null:/traefik.toml
    restart:
          always

networks:
  webgateway:
    driver: bridge
