version: '3.1'
services:
  whoami:
    image: emilevauge/whoami
    networks:
      - web
    labels:
      - "traefik.backend=whoami"
      - "traefik.frontend.rule=Host:whoami.{{dns_alias}}"
      - "traefik.backend.loadbalancer.sticky=true"
    restart:
      always
networks:
  web:
    external:
      name: {{traefik_project_name}}_webgateway